* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}
.header {
    height: 50px;
}

.tr-corner {
    color: white;
    display: flex;
    justify-content: end;
}

.grey-bg {
    padding: 2px;
    border-radius: 5px;
    margin: 5px 5px 0px;
    background-color: rgb(96, 96, 96);
}


.wrapper {
    margin: auto;
}


.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: 50px;
}

.thumbnail {
    margin: 0px 5px 20px;
    position: relative;
}

.user {
    color: white;
    background-color: rgba(96, 96, 96, 0.5);
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 2px;
}


footer {
    height: 80px;
    background-color: rgb(47, 46, 46);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.fr-left {
    display: flex;
    flex-direction: column;
}
