* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.tr-corner {
    color: white;
    display: flex;
    justify-content: end;
}

.grey-bg {
    padding: 2px;
    border-radius: 5px;
    margin: 5px 5px 0px;
    background-color: rgb(96, 96, 96);
}

.wrapper {
    margin: 50px 100px;
}

.thumbnail {
    position: relative;
    width: calc(100% / 7);
}

.user {
    color: white;
    background-color: rgba(96, 96, 96, 0.5);
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 2px;
}